/* Write your CSS here*/

html { 
    background: url(images/woodPanelBG.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

    .parent {
        display: grid;
        grid-template-columns: 1fr repeat(5, 2fr) 1fr;
        grid-template-rows: 1fr repeat(9, 2fr) 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 2 / 2 / 11 / 7; 
            background: url(images/corkboard.jpg);
            border: 8px solid #3f3d3d;
            border-radius: 20px;
        }
        .div2 { grid-area: 2 / 3 / 3 / 6; }
        .div3 { grid-area: 3 / 4 / 4 / 5; }
        .div4 { grid-area: 4 / 2 / 5 / 3; }
        .div5 { grid-area: 4 / 4 / 5 / 5; }
        .div6 { grid-area: 4 / 6 / 5 / 7; }
        .div7 { grid-area: 6 / 3 / 7 / 4; }
        .div8 { grid-area: 7 / 5 / 8 / 6; }
        .div9 { grid-area: 8 / 6 / 9 / 7; }
        .div10 { grid-area: 8 / 2 / 9 / 3; }
        .div11 { grid-area: 9 / 4 / 10 / 5; }
        .div12 { grid-area: 10 / 3 / 11 / 6; }